.navbar-container {
  height: 10vh;
  background: #222222;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
}

.navbar-home-text {
  font-size: 1.2rem;
  color: #f2f2f2;
  margin: 0 10px;
  cursor: pointer;
  padding: 5px;
  text-decoration: none;
}

.navbar-home-text:hover {
  background: #0dff92;
  border-radius: 5px;
}

.current-user-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}

.logout-button {
  background: #0dff92;
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin: 0 10px;
  cursor: pointer;
}
.current-username {
  color: #f2f2f2;
  font-size: 1.2rem;
  margin: 0 10px;
}
